<?xml version="1.0" encoding="UTF-8"?>  
   
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
   
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
   
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
   
version="2.5">

     	<welcome-file-list>
			<welcome-file>index.html</welcome-file>
		</welcome-file-list>
		<servlet>
			<servlet-name>CheckPlugins</servlet-name>
			<servlet-class>org.bit.linc.web.controllers.CheckPlugins</servlet-class>
		</servlet>
		 
		<servlet-mapping>
			<servlet-name>CheckPlugins</servlet-name>
			<url-pattern>/plugins-management/check-plugins</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>TestData</servlet-name>
			<servlet-class>org.bit.linc.web.controllers.TestData</servlet-class>
		</servlet>
		 
		<servlet-mapping>
			<servlet-name>TestData</servlet-name>
			<url-pattern>/test-data</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>CreateCluster</servlet-name>
			<servlet-class>org.bit.linc.web.controllers.CreateCluster</servlet-class>
		</servlet>
		 
		<servlet-mapping>
			<servlet-name>CreateCluster</servlet-name>
			<url-pattern>/cluters-management/create-cluster</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>CheckClusters</servlet-name>
			<servlet-class>org.bit.linc.web.controllers.CheckClusters</servlet-class>
		</servlet>
		 
		<servlet-mapping>
			<servlet-name>CheckClusters</servlet-name>
			<url-pattern>/cluters-management/check-clusters</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>ExecutePlugin</servlet-name>
			<servlet-class>org.bit.linc.web.controllers.ExecutePlugin</servlet-class>
		</servlet>
		 
		<servlet-mapping>
			<servlet-name>ExecutePlugin</servlet-name>
			<url-pattern>/plugins-management/execute-plugin</url-pattern>
		</servlet-mapping>

</web-app>  


